*{
	box-sizing: border-box;
	transition: all .25s ease-in;
	}
html{
	font-family: Arial, sans-serif;
}
html,
body{
	padding: 0;
	margin: 0;
	height: 100%;
}
body{
	background: #F1F1F1;
	color: #c2c2c2;
	margin: 0;
	padding: 5%;
}
.top_search{
	margin: 0 auto;
	padding: 0;
	width: 80%;	
	font-size: 0;
}
.top{
	font-size: 10px;
	display: inline-block;
	width: 30%;	
	margin: 0 auto;
	vertical-align: top;
}
.people,
.popular{
	margin-right: 5%;
}
.people ul li a img{
	border-radius: 50%;
}
.top p{
	text-transform: uppercase;
	font-weight: 600;
}
.top ul{	
	list-style-type: none;
	margin: 0 auto;
	padding: 0;	
}
.top ul li{
	background: rgba(118,117,128,0.05);
	padding: 10px;
	border: 2px solid #F1F1F1;
	padding: 0;
	margin: 0;
}
.top__link{	
	font-size: 9px;
	text-transform: capitalize;
	text-decoration: none;
	color: #c2c2c2;
	display: block;
	margin-left: : 10px;
	padding: 7px;
	font-weight: 700;
}
.top__link img{
	display: inline-block;
	margin-right: 10px;
	width: 20%;
}
.link__name{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}
.top__link:hover,
.top__link:focus{
	background: rgba(118,117,128,0.1);
	color: #ec5a62;	
}
.search_request{
	display: inline-block;
	width: 100%;
}
.search_request .search_text{
	color: #ec5a62;	
	border: none;
	background: transparent;
	font-size: 50px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	display: inline-block;
	outline-style: none;
	width: 85%;
	vertical-align: middle;
}
.top_search .search_request .button{
	height: 15%;
	width: 15%;
	margin: 0 auto;
	padding: 0;
	vertical-align: middle;
	border: none;
	display: inline-block;
	outline: none;
}